# dependencies
node_modules/

# build output
dist/
build/

# turborepo
.turbo/

# vite
.vite/

# env
.env
.env.*
!.env.example

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json

# logs
npm-debug.log*
